.btn-contact {
    background-color: $color-blue;
    border-radius: 6px;
    width: 125px;
    height: 41px;

    font-size: 13px;
    line-height: 20px;
    color: $color-white;

    @include flex-row(center, center, initial);
}
.btn-hero {
    @include flex-row(center, center, initial);
    width: 162px;
    height: 48px;
    background-color: $color-blue-light;
    border-radius: 30px;

    font-size: 14px;
    line-height: 177.9%;
    color: $color-blue;
}
.btn-hero.active {
    background-color: $color-blue;
    color: $color-white;
}