.about {
    padding: 0 0 200px;

    &-container {
        
    }
    &-card {
        @include flex-row(space-between, center, initial);

        &__text-content {
            max-width: 480px;
            width: 100%;

            &--heading {
                margin: 43px 0 56px;
                font-weight: 600;
                font-size: 30px;
                line-height: 170%;
                color: $color-black-secondary;

                span {
                    color: $color-blue;
                }
            }
            &--desc {
                line-height: 170%;
                color: #545454;
            }
        }
        &__img-content {
            max-width: 600px;
            width: 100%;
            position: relative;

            &--img {
                width: 100%;
            }
            &--bg-1 {
                background-image: url(../../images/icons/about_circle-1.svg);
                background-size: cover;
                border-radius: 260px;
                width: 497px;
                height: 505px;
                position: absolute;
                top: 60px;
                right: -400px;
            }
            &--bg-2 {
                background-image: url(../../images/icons/about_circle-2.svg);
                background-size: cover;
                border-radius: 260px;
                width: 497px;
                height: 505px;
                position: absolute;
                top: -40px;
                right: -180px;
                z-index: -5;
            }
        }
        &:not(:last-child) {
            margin-bottom: 120px;
        }
    }
}