.notification {
    padding: 35px 0;

    &-container {
        @include flex-row(space-between, center, initial);
        column-gap: 50px;
    }

    &-card {
        @include flex-row(initial, center, column);
        row-gap: 36px;
        text-align: center;
        padding: 65px 48px 50px;
        width: 572px;
        border-radius: 20px;
        position: relative;

        &__bell {
            position: absolute;
            right: 15px;
            top: -60px;
            width: 120.26px;
            height: 120.26px;
        }
        &--gray {
            background: #F4F4F4;
        }
        &--blue {
            background: $color-blue;
        }
        &__heading {
            max-width: 365px;
            font-weight: 600;
            font-size: 25px;
            line-height: 170%;

            &--blue {
                color: $color-white;
            }
            &--gray {
                color: $color-black-secondary;
            }
        }
        &__desc {
            line-height: 170%;
            
            &--gray {
                color: #545454;
            }
            &--blue {
                color: $color-white;
            }
        }
        &__btn {
            @include flex-row(center, center, initial);
            width: 153px;
            height: 49px;
            border-radius: 10px;
            font-weight: 500;
            line-height: 170%;
            text-transform: capitalize;

            &--blue {
                background: $color-blue;
                color: $color-white;
            }
            &--white {
                background-color: $color-white;
                color: $color-blue;
            }
        }
    }
}