* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

input {
  border: none;
}

input:focus {
  outline: none;
}

button {
  border: none;
  cursor: pointer;
}

@font-face {
  font-family: Poppins;
  src: url(../../fonts/Poppins-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: Poppins;
  src: url(../../fonts/Poppins-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: Poppins;
  src: url(../../fonts/Poppins-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: Poppins;
  src: url(../../fonts/Poppins-Bold.ttf);
  font-weight: 700;
}
body {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
}

input {
  font-family: Poppins;
}

.header-container {
  max-width: 1380px;
  padding: 0 30px;
  margin: 0 auto;
}

.posts-container {
  max-width: 1130px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 65px;
       column-gap: 65px;
  row-gap: 135px;
}

.container-1200 {
  max-width: 1200px;
  margin: 0 auto;
}

.btn-contact {
  background-color: #1090CB;
  border-radius: 6px;
  width: 125px;
  height: 41px;
  font-size: 13px;
  line-height: 20px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: initial;
}

.btn-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: initial;
  width: 162px;
  height: 48px;
  background-color: #E7EFF3;
  border-radius: 30px;
  font-size: 14px;
  line-height: 177.9%;
  color: #1090CB;
}

.btn-hero.active {
  background-color: #1090CB;
  color: #fff;
}

.btn-read-more {
  text-transform: capitalize;
  font-size: 14px;
  line-height: 177.9%;
  color: #1090CB;
}

.subscribe-form--btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: initial;
  width: 173px;
  height: 67px;
  background: #000;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 170%;
  color: #FFF4F4;
}

.info-box {
  display: flex;
  justify-content: initial;
  align-items: center;
  flex-direction: initial;
  -moz-column-gap: 25px;
       column-gap: 25px;
}
.info-box__circle {
  height: 58px;
  width: 58px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: initial;
}
.info-box__circle::after {
  content: url(../../images/icons/happy_icon.svg);
  width: 26px;
  height: 26px;
}
.info-box__circle--green {
  background: #08D3BB;
}
.info-box__circle--blue {
  background: #1090CB;
}
.info-box__circle--purple {
  background: #9208D3;
}
.info-box__text-content--heading {
  font-weight: 500;
  font-size: 17px;
  line-height: 175%;
  color: #000;
}
.info-box__text-content--desc {
  font-size: 14px;
  line-height: 175%;
  color: #868686;
}

.header {
  height: 100px;
  border-bottom: 0.7px solid #C4C4C4;
}
.header-navigation--wrapper {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: initial;
}
.header-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: initial;
}
.header-navigation--links {
  position: relative;
  margin-right: 70px;
  line-height: 24px;
  color: #000;
}
.header-navigation .active {
  color: #1090CB;
}
.header-navigation .badge {
  position: absolute;
  width: 8px;
  height: 8px;
  left: -10px;
  top: -4px;
  background: #08D3BB;
  border-radius: 50%;
}

.brand {
  font-weight: 700;
  font-size: 29px;
  line-height: 44px;
  color: #1090CB;
  text-transform: uppercase;
}

.hero {
  display: flex;
  justify-content: initial;
  align-items: center;
  flex-direction: column;
  padding-top: 72px;
  text-align: center;
}
.hero-title {
  width: 320px;
  font-weight: 700;
  font-size: 42px;
  line-height: 177.9%;
  color: #000;
}
.hero-title span {
  color: #1090CB;
}
.hero-description {
  width: 432px;
  font-weight: 500;
  font-size: 20px;
  line-height: 189.5%;
  color: #777;
  margin: 41px auto 52px;
}
.hero-form {
  position: relative;
  width: 400px;
  height: 49px;
  margin-bottom: 66px;
}
.hero-form input[type=text] {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: #F1F1F1;
  padding-left: 60px;
  line-height: 189.5%;
  color: #727272;
}
.hero-form input::-moz-placeholder {
  line-height: 189.5%;
  color: #727272;
}
.hero-form input::placeholder {
  line-height: 189.5%;
  color: #727272;
}
.hero-form::before {
  content: url(../../images/icons/search_icon.svg);
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  left: 25px;
  top: 45%;
  transform: translateY(-50%);
}
.hero-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: initial;
  max-width: 950px;
  width: 100%;
}

.main-post {
  padding: 109px 0 100px;
}
.main-post--item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: initial;
  -moz-column-gap: 60px;
       column-gap: 60px;
}
.main-post--item-bg {
  width: 50%;
  height: 340px;
  background-image: url(../../images/imgs/main-post-img.jpg);
}
.main-post--item-text-content {
  display: flex;
  justify-content: center;
  align-items: initial;
  flex-direction: column;
  width: 50%;
  height: 340px;
}
.main-post--item-title {
  font-weight: 600;
  font-size: 27px;
  line-height: 177.9%;
  color: #000;
}
.main-post--item-desc {
  line-height: 210.9%;
  color: #424242;
  margin: 33px auto 17px;
}
.main-post--item-author-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: initial;
}

.post-author {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: initial;
  -moz-column-gap: 21px;
       column-gap: 21px;
}
.post-author--img {
  width: 54px;
  height: 54px;
  border-radius: 50%;
}
.post-author--name {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 18px;
  line-height: 1;
  color: #000;
  margin-bottom: 8px;
}
.post-author--date {
  font-size: 14px;
  line-height: 1;
  color: #7B7B7B;
}

.posts {
  padding: 35px 0 160px;
}

.card {
  display: flex;
  justify-content: initial;
  align-items: initial;
  flex-direction: column;
  max-width: 333px;
}
.card-img {
  width: 100%;
  border-radius: 45px;
  margin-bottom: 40px;
}
.card-title {
  font-weight: 600;
  font-size: 23px;
  line-height: 177.9%;
  color: #000;
  margin-bottom: 25px;
}
.card-desc {
  text-align: justify;
  line-height: 210.9%;
  color: #424242;
  margin-bottom: 18px;
}

.subscribe {
  padding: 148px 0;
  background-color: #E8F4FA;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 80px;
  position: relative;
}
.subscribe-title {
  max-width: 516px;
  font-weight: 600;
  font-size: 30px;
  line-height: 170%;
  text-align: center;
  color: #252525;
  position: relative;
}
.subscribe-title::after {
  content: url(../../images/icons/pai-chart_icon.svg);
  position: absolute;
  right: -60px;
  top: -50px;
  width: 54px;
  height: 54px;
}
.subscribe-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: initial;
  -moz-column-gap: 14px;
       column-gap: 14px;
}
.subscribe-form--input {
  line-height: 170%;
  color: #787878;
  width: 532px;
  height: 67px;
  padding: 20px 36px;
  background: #fff;
  box-shadow: 0px 4px 84px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
}
.subscribe-form--input::-moz-placeholder {
  line-height: 170%;
  color: #787878;
}
.subscribe-form--input::placeholder {
  line-height: 170%;
  color: #787878;
}

.subscribe::after {
  content: url(../../images/icons/star_icon.svg);
  position: absolute;
  left: 180px;
  top: -45px;
  width: 66px;
  height: 66px;
}

.footer {
  padding: 110px 0 0;
}

.footer-grid {
  display: flex;
  justify-content: space-between;
  align-items: initial;
  flex-direction: initial;
  -moz-column-gap: 60px;
       column-gap: 60px;
}

.column {
  display: flex;
  justify-content: initial;
  align-items: initial;
  flex-direction: column;
  min-width: 185px;
  height: 160px;
}

.footer-nav--link {
  display: block;
  line-height: 186.3%;
  color: #515151;
}

.copyright {
  margin-top: 55px;
  border-top: 0.8px solid #D2D2D2;
  font-size: 13px;
  line-height: 80px;
  color: #686868;
  text-align: center;
}

.footer-heading-blue {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #00329B;
  margin-bottom: 22px;
}

.footer-heading-black {
  font-weight: 500;
  font-size: 17px;
  line-height: 26px;
  color: #000;
  margin-bottom: 22px;
}

.footer-desc {
  line-height: 24px;
  color: #515151;
}

.footer-desc-2 {
  line-height: 24px;
  color: #515151;
  margin-top: 40px;
}

.soc-icons {
  display: flex;
  justify-content: initial;
  align-items: center;
  flex-direction: initial;
  -moz-column-gap: 16px;
       column-gap: 16px;
  margin-top: 125px;
}

.soc-icon {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
  background-repeat: no-repeat;
  background-position: center;
}

.facebook {
  background-image: url(../../images/icons/facebook_icon.svg);
  background-size: 12px;
}

.instagram {
  background-image: url(../../images/icons/instagram_icon.svg);
  background-size: 13px;
}

.twitter {
  background-image: url(../../images/icons/twitter_icon.svg);
  background-size: 13px;
}

.linkedin {
  background-image: url(../../images/icons/linkedin_icon.svg);
  background-size: 11px;
}

.header {
  height: 100px;
  border-bottom: 0.7px solid #C4C4C4;
}
.header-navigation--wrapper {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: initial;
}
.header-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: initial;
}
.header-navigation--links {
  position: relative;
  margin-right: 70px;
  line-height: 24px;
  color: #000;
}
.header-navigation .active {
  color: #1090CB;
}
.header-navigation .badge {
  position: absolute;
  width: 8px;
  height: 8px;
  left: -10px;
  top: -4px;
  background: #08D3BB;
  border-radius: 50%;
}

.brand {
  font-weight: 700;
  font-size: 29px;
  line-height: 44px;
  color: #1090CB;
  text-transform: uppercase;
}

.services {
  padding: 43px 0;
  border-bottom: 0.7px solid #C7C7C7;
}

.services-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: initial;
}

.services-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: initial;
  -moz-column-gap: 16px;
       column-gap: 16px;
  max-width: 300px;
}
.services-card__icon {
  width: 83px;
  height: 83px;
  border-radius: 20px;
  position: relative;
}
.services-card__icon--web {
  background: #EFEAFF;
}
.services-card__icon--web::after {
  content: url(../../images/icons/web.svg);
  position: absolute;
  width: 41px;
  height: 41px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.services-card__icon--seo {
  background: #ECFFDA;
}
.services-card__icon--seo::after {
  content: url(../../images/icons/seo.svg);
  position: absolute;
  width: 33px;
  height: 33px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.services-card__icon--ar {
  background: #DAE6FF;
}
.services-card__icon--ar::after {
  content: url(../../images/icons/ar.svg);
  position: absolute;
  width: 33px;
  height: 33px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.services-card__icon--mob {
  background: #FFE5DA;
}
.services-card__icon--mob::after {
  content: url(../../images/icons/mob.svg);
  position: absolute;
  width: 34px;
  height: 34px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.services-card__text-content--heading {
  font-weight: 500;
  font-size: 20px;
  line-height: 175%;
  color: #000;
}
.services-card__text-content--desc {
  font-size: 15px;
  line-height: 175%;
  color: #969696;
}

.about {
  padding: 0 0 200px;
}
.about-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: initial;
}
.about-card__text-content {
  max-width: 480px;
  width: 100%;
}
.about-card__text-content--heading {
  margin: 43px 0 56px;
  font-weight: 600;
  font-size: 30px;
  line-height: 170%;
  color: #252525;
}
.about-card__text-content--heading span {
  color: #1090CB;
}
.about-card__text-content--desc {
  line-height: 170%;
  color: #545454;
}
.about-card__img-content {
  max-width: 600px;
  width: 100%;
  position: relative;
}
.about-card__img-content--img {
  width: 100%;
}
.about-card__img-content--bg-1 {
  background-image: url(../../images/icons/about_circle-1.svg);
  background-size: cover;
  border-radius: 260px;
  width: 497px;
  height: 505px;
  position: absolute;
  top: 60px;
  right: -400px;
}
.about-card__img-content--bg-2 {
  background-image: url(../../images/icons/about_circle-2.svg);
  background-size: cover;
  border-radius: 260px;
  width: 497px;
  height: 505px;
  position: absolute;
  top: -40px;
  right: -180px;
  z-index: -5;
}
.about-card:not(:last-child) {
  margin-bottom: 120px;
}

.text-content {
  padding: 115px 0 100px;
  margin: 0 auto;
  display: flex;
  justify-content: initial;
  align-items: center;
  flex-direction: column;
  row-gap: 16px;
  text-align: center;
}
.text-content__heading {
  max-width: 847px;
  font-weight: 600;
  font-size: 33px;
  line-height: 160%;
  color: #252525;
}
.text-content__desc {
  max-width: 692px;
  font-size: 18px;
  line-height: 175%;
  color: #868686;
}

.notification {
  padding: 35px 0;
}
.notification-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: initial;
  -moz-column-gap: 50px;
       column-gap: 50px;
  position: relative;
}
.notification-container::before {
  content: url(../../images/icons/notification_bg_circle-2.svg);
  width: 497px;
  height: 505px;
  position: absolute;
  left: -372px;
  bottom: -505px;
  z-index: -5;
}
.notification-container::after {
  content: url(../../images/icons/notification_bg_circle-1.svg);
  width: 497px;
  height: 505px;
  position: absolute;
  right: -177px;
  bottom: -145px;
  z-index: -5;
}
.notification-card {
  display: flex;
  justify-content: initial;
  align-items: center;
  flex-direction: column;
  row-gap: 36px;
  text-align: center;
  padding: 65px 48px 50px;
  width: 572px;
  border-radius: 20px;
  position: relative;
}
.notification-card__bell {
  position: absolute;
  right: 15px;
  top: -60px;
  width: 120.26px;
  height: 120.26px;
}
.notification-card--gray {
  background: #F4F4F4;
}
.notification-card--blue {
  background: #1090CB;
}
.notification-card__heading {
  max-width: 365px;
  font-weight: 600;
  font-size: 25px;
  line-height: 170%;
}
.notification-card__heading--blue {
  color: #fff;
}
.notification-card__heading--gray {
  color: #252525;
}
.notification-card__desc {
  line-height: 170%;
}
.notification-card__desc--gray {
  color: #545454;
}
.notification-card__desc--blue {
  color: #fff;
}
.notification-card__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: initial;
  width: 153px;
  height: 49px;
  border-radius: 10px;
  font-weight: 500;
  line-height: 170%;
  text-transform: capitalize;
}
.notification-card__btn--blue {
  background: #1090CB;
  color: #fff;
}
.notification-card__btn--white {
  background-color: #fff;
  color: #1090CB;
}

.clients {
  padding: 150px 0;
  display: flex;
  justify-content: initial;
  align-items: center;
  flex-direction: column;
}
.clients__heading {
  font-weight: 500;
  font-size: 24px;
  line-height: 159%;
  color: #000;
}
.clients__imgs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: initial;
  -moz-column-gap: 115px;
       column-gap: 115px;
  margin-top: 12px;
}
.clients__img {
  width: 185px;
}

.subscribe {
  padding: 148px 0;
  background-color: #E8F4FA;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 80px;
  position: relative;
}
.subscribe-title {
  max-width: 516px;
  font-weight: 600;
  font-size: 30px;
  line-height: 170%;
  text-align: center;
  color: #252525;
  position: relative;
}
.subscribe-title::after {
  content: url(../../images/icons/pai-chart_icon.svg);
  position: absolute;
  right: -60px;
  top: -50px;
  width: 54px;
  height: 54px;
}
.subscribe-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: initial;
  -moz-column-gap: 14px;
       column-gap: 14px;
}
.subscribe-form--input {
  line-height: 170%;
  color: #787878;
  width: 532px;
  height: 67px;
  padding: 20px 36px;
  background: #fff;
  box-shadow: 0px 4px 84px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
}
.subscribe-form--input::-moz-placeholder {
  line-height: 170%;
  color: #787878;
}
.subscribe-form--input::placeholder {
  line-height: 170%;
  color: #787878;
}

.subscribe::after {
  content: url(../../images/icons/star_icon.svg);
  position: absolute;
  left: 180px;
  top: -45px;
  width: 66px;
  height: 66px;
}

.footer {
  padding: 110px 0 0;
}

.footer-grid {
  display: flex;
  justify-content: space-between;
  align-items: initial;
  flex-direction: initial;
  -moz-column-gap: 60px;
       column-gap: 60px;
}

.column {
  display: flex;
  justify-content: initial;
  align-items: initial;
  flex-direction: column;
  min-width: 185px;
  height: 160px;
}

.footer-nav--link {
  display: block;
  line-height: 186.3%;
  color: #515151;
}

.copyright {
  margin-top: 55px;
  border-top: 0.8px solid #D2D2D2;
  font-size: 13px;
  line-height: 80px;
  color: #686868;
  text-align: center;
}

.footer-heading-blue {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #00329B;
  margin-bottom: 22px;
}

.footer-heading-black {
  font-weight: 500;
  font-size: 17px;
  line-height: 26px;
  color: #000;
  margin-bottom: 22px;
}

.footer-desc {
  line-height: 24px;
  color: #515151;
}

.footer-desc-2 {
  line-height: 24px;
  color: #515151;
  margin-top: 40px;
}

.soc-icons {
  display: flex;
  justify-content: initial;
  align-items: center;
  flex-direction: initial;
  -moz-column-gap: 16px;
       column-gap: 16px;
  margin-top: 125px;
}

.soc-icon {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
  background-repeat: no-repeat;
  background-position: center;
}

.facebook {
  background-image: url(../../images/icons/facebook_icon.svg);
  background-size: 12px;
}

.instagram {
  background-image: url(../../images/icons/instagram_icon.svg);
  background-size: 13px;
}

.twitter {
  background-image: url(../../images/icons/twitter_icon.svg);
  background-size: 13px;
}

.linkedin {
  background-image: url(../../images/icons/linkedin_icon.svg);
  background-size: 11px;
}/*# sourceMappingURL=main.css.map */